# 제어문

## 조건문(if문)

```python
if<조건식>:
    if의 조건식이 참인 경우 실행하는 코드
else:
    if의 조건식이 거짓인 경우 실행하는 코드
    
```

1. `if`문은 반드시 참/거짓을 판단 할수 있는 조건식과 함께 사용한다.
2. `조건식`이 참인 경우 : 이후의 문장을 실행한다
3. `조건식`이 거짓인 경우: `else`: 이후의 문장을 실행한다

In [4]:
mystring = input()

if mystring == '12/25':
    print('크리스마스입니다')
else:
    print('크리스마스가 아닙니다')

 12/24

크리스마스가 아닙니다

In [12]:
num = input('숫자를 입력해주세요:')  ## int(input)
num = int(num)

if num % 2 == 0: 
    print('짝수입니다')
else:
    print('홀수입니다')

숫자를 입력해주세요: 123

홀수입니다

In [13]:
num = input('숫자를 입력해주세요:')  ## int(input)
num = int(num)

if num % 2 == 1: 
    print('홀수입니다')
else:
    print('짝수입니다')

숫자를 입력해주세요: 123

홀수입니다

In [14]:
# num을 2로 나눈 나머지는 0,1 두가지 경우가 있다
# if조건식에 0,1은 자동형변환이 일어나 True, False로 변환된다.
num = input('숫자를 입력해주세요:')  ## int(input)
num = int(num)

if num % 2 : 
    print('홀수입니다')
else:
    print('짝수입니다')

숫자를 입력해주세요: 11

홀수입니다

### elif

```python
if<조건식>:
    if 조건이 참인경우 실행
elif<조건식>:
    elif 조건이 참인 경우 실행
...    
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [23]:
score = int(input('점수를 입력하세요: '))

if score >= 90:
    print('A입니다')
    if score>= 95:
        print('Good!')
elif score >= 80:
    print('B입니다')
elif score >= 70:
    print('C입니다')
else:
    print('F입니다')

# 95점 이상 Good    
# 90점 이상 A
# 80점 이상 B
# 70점 이상 C
# 나머지 F

점수를 입력하세요:  12

F입니다

### 조건표현식

```python
true_value if <조건식> else false_value
```

In [1]:
print('True') if 1 < 0 else print('False')

False

In [2]:
if 1 < 0:
    print('True')
else:
    print('False')

False

In [4]:
num = 5

if num >= 0:
    value = num
else:
    value = 0

print(value)

5

In [6]:
num = 5
value = num if num > 0 else 0
print(value)

5

In [9]:
num = 10
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

In [8]:
num = 5
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

홀수

## 반복문

### While문

```python
while <조건식>:
    실행할 코드
```

In [11]:
a = 0

while a < 5:
    print(a)
    a += 1  # a = a + 1

0
1
2
3
4

In [13]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고 입력하세요')

안녕이라고 입력하세요 123
안녕이라고 입력하세요 안녕

### for문
정해진 범위 내의 반복

```python
for variable in sequence:
    실행할 코드
```

In [14]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [15]:
word = input('단어를 입력해주세요: ')

for char in word:
    print(char)

단어를 입력해주세요:  apple

a
p
p
l
e

In [16]:
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [29]:
# 1 ~ 30 까지 숫자 중에서 홀수를 출력

i = n % 2 == 1
for i in range(30):
    print(i)

NameError: name 'n' is not defined

In [31]:
numbers = range(31)

for number in numbers:
    if number % 2 == 1:
        print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [36]:
# 리스트로 출력

numbers = range(31)
result = []

for number in numbers:
    if number % 2 == 1:
        # print(number)
        result.append(number)
print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [39]:
menus = ['라면', '김밥', '떡볶이','돈까스','튀김']

for menu in menus:
    print(menu)

라면
김밥
떡볶이
돈까스
튀김

In [40]:
for i in range(3):
    print(menus[i])

라면
김밥
떡볶이

In [42]:
for i in range(len(menus)):
    print(menus[i])

라면
김밥
떡볶이
돈까스
튀김

In [44]:
for item in enumerate(menus):
    print(item)

(0, '라면')
(1, '김밥')
(2, '떡볶이')
(3, '돈까스')
(4, '튀김')

In [45]:
for index, menu in enumerate(menus):
    print(index, menu)

0 라면
1 김밥
2 떡볶이
3 돈까스
4 튀김

### dictionary 반복

1. for key in dict:
2. for key in dict, keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [46]:
info = {
    'name': 'minjung',
    'location': 'seoul',
    'phone': '010-123-1234',
}

In [51]:
for key in info:
    print(key)
    print(info[key])

name
minjung
location
seoul
phone
010-123-1234

In [54]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3
}

In [56]:
print('혈액형 목록은 다음과 같습니다')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다
A
B
O
AB

In [57]:
print('혈액형 목록은 다음과 같습니다')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다
A
B
O
AB

In [59]:
for value in blood_type.values():
    print(value)

5
4
2
3

In [60]:
result = 0

for value in blood_type.values():
    result = result + value  # result += value

print(f'총인원은 {result}명입니다')

총인원은 14명입니다

In [61]:
blood_type.keys()

dict_keys(['A', 'B', 'O', 'AB'])

In [62]:
blood_type.items()

dict_items([('A', 5), ('B', 4), ('O', 2), ('AB', 3)])

In [63]:
for item in blood_type.items():
    print(item)

('A', 5)
('B', 4)
('O', 2)
('AB', 3)

In [64]:
for item in blood_type.items():
    print(item[0])
    print(item[1])

A
5
B
4
O
2
AB
3

In [66]:
for key, value in blood_type.items():
    print(key, value)

A 5
B 4
O 2
AB 3

In [68]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명 입니다.')

A형은 5명 입니다.
B형은 4명 입니다.
O형은 2명 입니다.
AB형은 3명 입니다.

#### break
반복문을 종료시키는 키워드

In [71]:
for i in range(100):
    print(i)
    if i > 10:
        print('10 넘었어!!')
        break

0
1
2
3
4
5
6
7
8
9
10
11
10 넘었어!!

In [73]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리', '보리']

for i in rice:
    print(i)
    if i == '쌀':
        print('쌀 잡았다!')
        break

보리
보리
보리
보리
쌀
쌀 잡았다!

#### continue
continue 이후의 코드를 실행하지 않고 다음 반복문을 실행

In [80]:
for i in range(10):
    if i % 2:
       continue
       
    print(i)

0
2
4
6
8

In [100]:
age = [10, 23, 8, 30, 29, 15]

for a in age:
    if a < 20:
        continue   #다음 for문으로 진행
    print(f'{a}살은 성인입니다')

23살은 성인입니다
30살은 성인입니다
29살은 성인입니다

#### else
else문은 끝까지 반복이 진행이 된 후 실행합니다. (break를 만나지 않은 경우)

In [84]:
for i in range(10):
    print(i)
    if i > 10:
        break

else:
    print('break 못 만남')

0
1
2
3
4
5
6
7
8
9
break 못 만남

In [86]:
numbers = [1, 2, 3, 4, 5]
print(1 in numbers)
print(99 in numbers)

True
False

In [95]:
numbers = [1, 2, 3, 4, 5]
target = 1

for n in numbers:
    
    if target in numbers:
        print('True')
    else:
        print('False')

True
True
True
True
True

In [96]:
numbers = [1, 2, 3, 4, 5]
target = 1

for n in numbers:
    if n == target:
        print('True')
        break
else:
    print('False')

True

#### pass

In [97]:
if True:
    pass

In [98]:
def login():
    pass
    
def logout():
    pass

#### match
```python
match value:
    case 조건:
        실행할코드
    case 조건:
        실행할 코드
    case _ :
        실행할 코드
```

In [99]:
status = 404
match status:
    case 400:
        print('bad request')
    case 404:
        print('not found')
    case _:
        print('something is wrong')

not found